body{
    margin: 0 auto;
}

/*-----header-----*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14rem; /* adjust to your needs */
}

.header_image {
    width: 90%;
    height: 100%;
}

.header_image img {
    width: 100%;
    height: 100%;
}

.header_right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-logo img.header-logo-before {
	position: relative;
	margin-bottom: 6%;
	visibility: visible;
}

.header-logo:hover img.header-logo-before {
	visibility: hidden;
}

.header-logo img.header-logo-hover {
	position: absolute;
	top: 11%;
	right: 0.8%;
	visibility: hidden;
}

.header-logo:hover img.header-logo-hover {
	position: absolute;
	top: 11%;
	right: 0.8%;
	visibility: visible;
}
#login_register {
    font-size: 24px;
}

/*-----navigation-----*/
.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a {
	color: black;
	text-decoration: none;
}

.nav-links ul li::after {
	content: "";
	width: 0;
	height: 2px;
	background: #9c2521;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

#nav_text {
    font-size: 24px;
}
/*-----footer-----*/

.footer {
    display: flex;
	padding: 1%;
    width: 100%;
}

.social-media {
    width: 8rem;
    margin: auto;
}

.icons .fab {
	margin-right: 13px;
    padding-left: 2px;
	cursor: pointer;
	color: #9c2521;
}

.nav-links-footer{
    width: 55%;

}
.company-info {
    display: flex;
    list-style: none;
}

.company-info > li{
    width: fit-content;
    margin-top: 5%;
    padding: 2%;
}