{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block content %}
    <h1 class="card-title">{{ selected_offer.name }}</h1>
    <div class="card mb-3" style="max-width: 900px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% for offerimg in selected_offer.offerimg_set.all %}
                    <img src="{{ offerimg.image }}" class="img-fluid rounded-start" alt="Offer detail">
                {% endfor %}
            </div>
                <div class="col-md-8">
                    <div class="card-body position-relative">
                    <h4 class="card-text m-4">{{ selected_offer.description }}</h4>
                    <h6>Included Pizzas:</h6>
                    <ul class="list-group list-group-horizontal-sm">
                        {% for pizza in selected_offer.pizzas.all %}
                            <li class="list-group-item">{{ pizza.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class="position-absolute bottom-0 end-0 m-2">{{ selected_offer.price }} kr</h3>
            </div>
        </div>
    </div>
{% endblock %}