{% extends 'base.html' %}
{% block content %}
    <h2>Our menu</h2>

    <nav class="navbar bg-body-tertiary d-flex col-sm-12" >

        <form class="d-flex col-sm-4 m-2" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-bar">
          <button id="search-btn" class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button id="category0" class="btn btn-outline-success color-blue category-button">All</button>
        {% for category in all_categories %}
          <button id="category{{ category.id }}" aria-current="false" value="{{ category.name }}" class="btn btn-outline-success color-{{ category.color }} category-button">{{ category }}</button>
        {% endfor %}
        <label class="form-check-label text-center" for="flexSwitchCheckDefault">a-z</label>
        <div class=" form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
    </nav>



    <div class="d-flex flex-wrap pizza-catalog">
        {% for pizza in all_pizzas %}
            {% include 'product/single_pizza.html' with pizza=pizza %}
        {% endfor %}
    </div>
{% endblock %}