{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="well card pizza" style="width: 18rem;height: 42rem">
    <a href ="{% url 'pizza_detail' pizza.id %}" class="link-offset-2 link-underline link-underline-opacity-0">
        <img class="card-img-top" src="{{ pizza.productimg_set.first.image }}" alt="pizza card">
        <div class="card-body">
            <h4 class="card-title">{{ pizza.name }}</h4>
            <p class="card-text">{{ pizza.description }}</p>
            <h3 class="card-text position-absolute bottom-0 end-0 m-2">{{ pizza.price}} kr</h3>
        </div>
    </a>
</div>