{% extends 'base.html' %}
{% block title %}Main page{% endblock %}

{% block content %}
         <div class="card container-xl px-4 mt-4">
            <div class="card-header">
                <h2>Our most popular pizzas!
                    <a href="https://clipchamp.com/watch/qUii679TmtY?utm_source=share&utm_medium=social&utm_campaign=watch"><input type="text" value="Do I Want To Order Pizza" class="btn main_btn" style="margin-left: 40%"></a>
                </h2>
            </div>
                <div class="card-body d-flex flex-wrap col-md-13  pizza-catalog" >
                    {% for pizza in top_pizzas %}
                        {% include 'product/single_pizza.html' with pizza=pizza %}
                    {% endfor %}
                </div>
                 <div class="d-flex justify-content-end" style="margin-bottom: 10px">
                    <a href="{% url 'pizza_index' %}" class="btn main_btn" id="submit-btn" style="margin-right: 10px;">Pizza Menu</a>
                </div>
        </div>
        <div class="card container-xl px-4 mt-4">
            <div class="card-header">
                <h2>Our most popular Offers!</h2>
            </div>
                <div class="card-body d-flex flex-wrap col-md-13  pizza-catalog" >
                    {% for offer in top_offers %}
                        {% include 'product/single_offer.html' with offer=offer %}
                    {% endfor %}
                </div>
                 <div class="d-flex justify-content-end" style="margin-bottom: 10px">
                    <a href="{% url 'offer_index' %}" class="btn main_btn" id="offer-index-btn" style="margin-right: 10px;">Offer Menu</a>
            </div>
        </div>
        <div class="card container-xl px-4 mt-4">
            <div class="container py-4 py-xl-5">
                <div class="row mb-5" >
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h3>What the customers think about us!</h3>
                    </div>
                </div>
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center">Just came home from the best meal I ever had. The service was great and now I am looking at the website and it´s definitely a 10!</p>
                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Kevin_Bacon_2_SDCC_2014.jpg/800px-Kevin_Bacon_2_SDCC_2014.jpg" />
                                <div>
                                    <p class="fw-bold text-primary mb-0">Kevin Bacon</p>
                                    <p class="text-muted mb-0">Actor</p>
                                </div>
                            </div>
                            <div class="card border-0 shadow-none">
                                <div class="card-body d-flex align-items-center p-0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center">Amaazing food! The whole experience from start to finish is great. The food can’t get better. Always a great spot to get great food.</p>
                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://scontent.frkv2-1.fna.fbcdn.net/v/t1.6435-9/186513680_321283456019011_5860590345041618579_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=9vembhTk_8oAX9felIU&_nc_ht=scontent.frkv2-1.fna&oh=00_AfAJr7p9FGeTCbh13iW9w5eDAQTFdYiIjd8lPSdwevHSrA&oe=648429DF" />
                                <div>
                                    <p class="fw-bold text-primary mb-0">Chuck Norris</p>
                                    <p class="text-muted mb-0">Whatever I want</p>
                                </div>
                            </div>
                            <div class="card border-0 shadow-none">
                                <div class="card-body d-flex align-items-center p-0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center">. Legitimately the best restaurant around. Doesn’t matter what I get I end up liking it. My partner and I have been eating here for a few years now.</p>
                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://yt3.googleusercontent.com/bFpwiiOB_NLCVsIcVQ9UcwBjb1RzipnMmtNfLSWpeIaHboyGkBCq4KBitmovRbStk9WvIWIZOyo=s900-c-k-c0x00ffffff-no-rj" />
                                <div>
                                    <p class="fw-bold text-primary mb-0">Gordon Ramsey</p>
                                    <p class="text-muted mb-0">Chef</p>
                                </div>
                            </div>
                            <div class="card border-0 shadow-none">
                                <div class="card-body d-flex align-items-center p-0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}