{% extends 'base.html' %}
{% block title %}Payment details{% endblock %}

{% block content %}

    <form method="post" class="card container-fluid mb-4 col-md-9 payment-choice">
        {% csrf_token %}
            <div class="card-header">Payment method</div>
            <div class="row">
                <div class="col-lg-12">

                         <div class="accordion-item mb-3">
                             <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false">
                                <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                                    <input class="form-check-input" type="radio" name="payment-method" value="credit-card" id="payment-creditcard" >
                                    <label class="form-check-label pt-1" for="payment-creditcard">Credit Card</label>
                                    <span>
                                        <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="nonzero" fill="#333840">
                                                <path d="M29.418 2.083c1.16 0 2.101.933 2.101 2.084v16.666c0 1.15-.94 2.084-2.1 2.084H4.202A2.092 2.092 0 0 1 2.1 20.833V4.167c0-1.15.941-2.084 2.102-2.084h25.215ZM4.203 0C1.882 0 0 1.865 0 4.167v16.666C0 23.135 1.882 25 4.203 25h25.215c2.321 0 4.203-1.865 4.203-4.167V4.167C33.62 1.865 31.739 0 29.418 0H4.203Z"></path>
                                                <path d="M4.203 7.292c0-.576.47-1.042 1.05-1.042h4.203c.58 0 1.05.466 1.05 1.042v2.083c0 .575-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.467-1.05-1.042V7.292Zm0 6.25c0-.576.47-1.042 1.05-1.042H15.76c.58 0 1.05.466 1.05 1.042 0 .575-.47 1.041-1.05 1.041H5.253c-.58 0-1.05-.466-1.05-1.041Zm0 4.166c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.466-1.05-1.042Zm6.303 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.051.466 1.051 1.041 0 .576-.47 1.042-1.05 1.042h-2.102c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Z"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </h2>
                             </div>

                                 <div class="card-body">
                                     <div class="mb-3">
                                         <div class="d-flex">
                                             <div class="col-md-6" style="margin-right: 1rem">
                                                {{ form.card_holder.label }}
                                                {{ form.card_holder }}
                                                    {% if form.card_holder.errors %}
                                                        {% for error in form.card_holder.errors %}
                                                            <p style="color: #ff0000;font-size: 0.8rem;width: fit-content;padding: 2px">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                             </div>
                                        </div>
                                          <div class="d-flex">
                                             <div class="col-md-6" style="margin-right: 1rem">
                                                {{ form.card_number.label }}
                                                {{ form.card_number }}
                                                    {% if form.card_number.errors %}
                                                        {% for error in form.card_number.errors %}
                                                            <p style="color: #ff0000;font-size: 0.8rem;width: fit-content;padding: 2px">{{ error }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                             </div>
                                        </div>
                                          <div class="d-flex">
                                             <div class="col-md-6" style="margin-right: 1rem">
                                                {{ form.expiration_date.label }}
                                                {{ form.expiration_date }}

                                                     {% for error in form.expiration_date.errors %}
                                                         <p style="color: #ff0000;font-size: 0.8rem;width: fit-content;padding: 2px">{{ error }}</p>
                                                     {% endfor %}
                                             </div>
                                             <div class="col-md-4">
                                                 {{ form.cvc.label }}
                                                {{ form.cvc }}
                                                     {% for error in form.cvc.errors %}
                                                         <p style="color: #ff0000;font-size: 0.8rem;width: fit-content;padding: 2px">{{ error }}</p>
                                                     {% endfor %}
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                    </div>


        <div class="d-flex justify-content-end" style="margin-bottom: 10px">
                <input type="submit" name="contact_info" value="Contact info" class="btn main_btn" id="submit-btn" style="margin-right: 10px;">
                <input type="submit" name="review_order" value="Review order" class="btn main_btn" id="submit-btn" style="margin-right: 10px;">
        </div>
    </form>

{% endblock %}
