{% extends 'base.html' %}

{% block content %}
    <h1>Here is the payment detail form</h1>
    <form method="post">
        {% csrf_token %}
        {% if error_message %}
            <p><<strong>{{ error_message }}</strong></p>
        {% endif %}
        {{ form }}
        <a href="{% url 'contact_info' %}">Back</a>
        <input type="submit" value="Next">
    </form>


{#    <div class="container">#}
{#        <h1 class="h3 mb-5">Payment</h1>#}
{#        <div class="row">#}
{#            <div class="col-lg-9 shadow-card">#}
{#                <div class="accordion" id="accordionPayment">#}
{#                    <!-- Credit card -->#}
{#                    <div class="accordion-item mb-3">#}
{#                        <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false">#}
{#                            <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">#}
{#                                <label for="payment1" class="form-check-label pt-1">Credit Card</label>#}
{#                                <input class="form-check-input" id="payment1" type="radio" name="payment">#}
{#                                <span>#}
{#                                    <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">#}
{#                                        <g fill-rule="nonzero" fill="#333840">#}
{#                                            <path d="M29.418 2.083c1.16 0 2.101.933 2.101 2.084v16.666c0 1.15-.94 2.084-2.1 2.084H4.202A2.092 2.092 0 0 1 2.1 20.833V4.167c0-1.15.941-2.084 2.102-2.084h25.215ZM4.203 0C1.882 0 0 1.865 0 4.167v16.666C0 23.135 1.882 25 4.203 25h25.215c2.321 0 4.203-1.865 4.203-4.167V4.167C33.62 1.865 31.739 0 29.418 0H4.203Z"></path>#}
{#                                            <path d="M4.203 7.292c0-.576.47-1.042 1.05-1.042h4.203c.58 0 1.05.466 1.05 1.042v2.083c0 .575-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.467-1.05-1.042V7.292Zm0 6.25c0-.576.47-1.042 1.05-1.042H15.76c.58 0 1.05.466 1.05 1.042 0 .575-.47 1.041-1.05 1.041H5.253c-.58 0-1.05-.466-1.05-1.041Zm0 4.166c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.466-1.05-1.042Zm6.303 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.051.466 1.051 1.041 0 .576-.47 1.042-1.05 1.042h-2.102c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Z"></path>#}
{#                                        </g>#}
{#                                    </svg>#}
{#                                </span>#}
{#                            </h2>#}
{#                        </div>#}
{#                        <div id="collapseCC" class="accordion-collapse collapse" data-bs-parent="#accordionPayment" style="">#}
{#                            <div class="accordion-body">#}
{#                                <div class="mb-3">#}
{#                                    <label for="card-number" class="form-label">Card Number:</label>#}
{#                                    <input type="text" class="form-control" id="card-number" placeholder="">#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-6">#}
{#                                        <div class="mb-3">#}
{#                                            <label for="name-on-card" class="form-label">Name on card:</label>#}
{#                                            <input type="text" class="form-control" id="name-on-card" placeholder="">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-3">#}
{#                                        <div class="mb-3">#}
{#                                            <label for="expiry-date" class="form-label">Expiry date:</label>#}
{#                                            <input type="text" class="form-control" id="expiry-date" placeholder="MM/YY">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-3">#}
{#                                        <div class="mb-3">#}
{#                                            <label for="cvv-code" class="form-label">CVV Code</label>#}
{#                                            <input type="password" class="form-control" id="cvv-code">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- Pay on delivery -->#}
{#                    <div class="accordion-item mb-3 border">#}
{#                        <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePP" aria-expanded="false">#}
{#                            <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">#}
{#                                <label for="payment2" class="form-check-label pt-1">Pay on delivery:</label>#}
{#                                <input class="form-check-input" id="payment2" type="radio" name="payment" >#}
{#                            </h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="d-flex justify-content-end">#}
{#                        <a href="{% url 'contact_info' %}"><input type="submit" value="Back" class="main_btn"></a>#}
{#                        <a href="{% url 'review_order' %}"><input type="submit" value="Continue to checkout" class="main_btn "></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    ------------------------------------------------------------------------------------#}

{#    <h4 class="mb-3 m-4">Payment method</h4>#}
{##}
{#        <section class="col-md-4 mb-3 border-top border-bottom border-3" style="border-color: #9c2521 !important;">#}
{#        <div class="d-block my-3 m-4">#}
{#          <div class="custom-control custom-radio ">#}
{#            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">#}
{#            <label class="custom-control-label" for="credit">Credit card/Debit card</label>#}
{#          </div>#}
{#          <div class="custom-control custom-radio">#}
{#            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">#}
{#            <label class="custom-control-label" for="paypal">Pay on delivery</label>#}
{#          </div>#}
{#        </div>#}
{##}
{#        {% if  %}#}
{#            <div class="row">#}
{#              <div class="col-md-6 mb-3">#}
{#                <label for="cc-name">Name on card</label>#}
{#                <input type="text" class="form-control" id="cc-name" placeholder="" required="">#}
{#                <small class="text-muted">Full name as displayed on card</small>#}
{#                <div class="invalid-feedback">#}
{#                  Name on card is required#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{#              <div class="col-md-6 mb-3">#}
{#                <label for="cc-number">Credit card number</label>#}
{#                <input type="text" class="form-control" id="cc-number" placeholder="" required="">#}
{#                <div class="invalid-feedback">#}
{#                  Credit card number is required#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{#              <div class="col-md-3 mb-3">#}
{#                <label for="cc-expiration">Expiration</label>#}
{#                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">#}
{#                <div class="invalid-feedback">#}
{#                  Expiration date required#}
{#                </div>#}
{#              </div>#}
{#              <div class="col-md-3 mb-3">#}
{#                <label for="cc-cvv">CVV</label>#}
{#                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">#}
{#                <div class="invalid-feedback">#}
{#                  Security code required#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            </section>#}
{#            <div class="d-flex justify-content-end">#}
{#                <a href="{% url 'contact_info' %}"><input type="submit" value="Back" class="main_btn"></a>#}
{#                <a href="{% url 'review_order' %}"><input type="submit" value="Continue to checkout" class="main_btn "></a>#}
{#            </div>#}

{#        {% else %}#}
{#            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>#}
{#        {% endif  %}#}

{% endblock %}