{% extends 'base.html' %}

{% block content %}

  <div class="py-5 h-100">
    <div class="row d-flex  h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #9c2521 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #9c2521;">Review order</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                  {% now "jS F Y" %}
                <p >4 May 2023</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>77490</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #9c2521;">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p style="color: white;" >Pepperoni</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p style="color: white;">3890 kr</p>
                </div>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #9c2521;">3890 kr</p>
              </div>
            </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    <input type="submit" value="Submit" class="main_btn ">

{% endblock %}