{% extends 'base.html' %}

{% block content %}
    <section class="m-4">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="border-top border-bottom border-3" style="border-color: #9c2521 !important;">
        <p><span class="h2">Shopping Cart </span><span class="h4">(1 item in your cart)</span></p>

        <div class="card mb-4">
          <div class="card-body p-4">

            <div class="row align-items-center">
              <div class="col-md-2">
                <img src="https://www.dominos.is/media/umlel2ib/dominosextra_3000x3750.jpg?quality=70&width=900&format=jpg"
                  class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">Pepperoni</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Type</p>
                  <p class="lead fw-normal mb-0">Spicy</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <p class="lead fw-normal mb-0">2</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">1990 kr</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">3980 kr</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card mb-5 border-top border-bottom border-3" style="border-color: #9c2521 !important;">
          <div class="card-body p-4">

            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Order total:</span> <span
                  class="lead fw-normal">3980 kr</span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        <div class="d-flex justify-content-end">
            <a href="{% url 'main_page' %}"><input type="submit" value="Continue shopping" class="main_btn"></a>
            <a href="{% url 'contact_info' %}"><input type="submit" value="Checkout" class="main_btn "></a>
        </div>

{% endblock %}