{% extends "base.html" %}
{% block content %}
    <form class="container-xl px-4 mt-4" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                     <div class="card-header">
                         Profile Picture
                     </div>
                    <div class="card-body text-center">
                         <img class="img-account-profile rounded-circle mb-2" src="{{ user.profile.image }}" alt="Profile image">
                            {{ form.image }}
                        <input type="submit" value="Update" class="btn main_btn" style="margin-top: 10px">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">
                        Account Details
                    </div>
                        <div class="card-body">
                            <div class="mb-3">
                                 <div class="d-flex">
                                    <div class="col-md-6" style="margin-right: 1rem">
                                        {{ form.full_name.label }}
                                        {{ form.full_name }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.phone_number.label }}
                                        {{ form.phone_number }}
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-6" style="margin-right: 1rem">
                                        {{ form.street_name.label }}
                                        {{ form.street_name }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.house_number.label }}
                                        {{ form.house_number }}
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-md-4" style="margin-right: 1rem">
                                        {{ form.city.label }}
                                        {{ form.city }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.postal_code.label }}
                                        {{ form.postal_code }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}
